.contact{
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h1{
    font-size: 36px;
    margin-bottom: 40px;
    color: orangered;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact-form{
    text-align: left;

}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: bisque;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: bisque;
    color: black;
}
input:focus, textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: black;
    color: orangered;
    border:none;
    cursor: pointer;
    transition: 0.4s ease;
}
button:hover{
    color: bisque;
}