
.container{
    min-height: 100vh;
    width: 100%;
}
.service wrapper{
    padding: 5% 8%;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    color: #fff;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: darkgrey;
    background: linear-gradient(8deg,rgba(darkgrey) 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
h3::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    width: 80%;
    height: 8px;
    border-radius: 50%;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 80px;
}
.card{
   height: 330px;
   width: 370px; 
   padding: 1% 3%;
   border-radius: 8px;
   transition: -6s;
}